.compare {
  @extend .catalog__body;
  justify-content: normal;
  // .compare__indicators
  &__indicators{
    padding: 61px 21px;
    @extend .catalog__filter;
  }
  .slider{
    width: 100%;
  }

  &__indicators,  .card-product
  {
    display: grid;
    grid-template-rows: 170px 86px repeat(auto-fill,50px);
    grid-auto-rows: 50px;
    align-items: end;
    height: 100%;
  }
  .card-product{
    position: relative;
    padding: 31px 21px;
    margin: 20px 0;
    &__img{
      height: 170px;
      grid-row-end: span 1;
      overflow: hidden;
        picture,
          source,
          img{
          height: 90%;
        }
    }
    &__content{
      padding: 0 0;
    }
    &__footer{
      grid-row: span 3;
    }

    &__del-compare{
      position: absolute;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);

        picture,
          source,
          img{
          width: 10px;
          height: 10px;
        }
      &:focus,
      &:hover,
      &:active{
        transform: scaleY(1.3) translateX(-50%);
        transition: 0.3s;
      }
    }

    @include media-phones375max{
      margin: auto;
    }
  }



  // .compare__catalog-name
  &__catalog-name {
    grid-row-end: span 2;
    @extend %font-compare-catalog-name;
    align-self: center;
    color:$color_blue_497AE2;

  }

  .card-product__characteristic,
  // .compare__characteristic
  &__characteristic {

    &_double{
      grid-row: span 2;
    }
  }
}