
.main-slider  {

  margin:2% !important; ;
  overflow: hidden;
  .slider-slide{
    margin: auto;
  }
}
.slider{
  padding:0 2% !important;
  .slider__container{
    padding: 10px 0;
    gap: 10px;
  }

}
.slider,.main-slider{
  .slider__navigation{
    width: 41px;
    height: 40px;
  }
}
.slider__navigation{
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px $color_active_link solid;
  background: none;
  &_last{
    transform: rotate(180deg);
    &:active{
      transform: scale(1.1) rotate(180deg);
    }
  }
    picture,
      source,
      img{
      width:  21px;
      height: 21px;
    }
}

.product-slider{
  position: relative;
  padding: 0 6% !important;
  .slider__navigation{
    position: absolute;
    top: 50%;
    z-index: 50;
  }
  .slider__navigation_next{
    right: 5px;
    @include media-phones375max{
      right: 0;
    }
  }
  .slider__navigation_last{

    left: 5px;
    @include media-phones375max{
      left: 0;
    }
  }
}