

.tablets {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  // .tablets__item
  &__item {
    @extend .shadow;
    @extend %font-tablets-item;

    flex:0 0 1;
    padding: 33px 24px;
    align-items: center;
    justify-content: center;
    font-style: normal;
    display: flex;
    gap: 15px;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 0px 3px 0px rgba(50, 87, 164, 0.25) inset;
    // .tablets__item_blue
    &_blue {
      color: #FFFFFF;
      background: $color_blue_497AE2;
    }
    &_min{
      flex-grow: 1;
      width: min-content;
      min-width: 30%;
      text-wrap: normal;
    }

  }
}
