.card-product {
  max-width: 285px;
  border: 0.2px solid #EFF5FE;
  box-shadow: inset 0px 0px 3px rgba(50, 87, 164, 0.25);
  border-radius: 15px;
  background: white;
  overflow: hidden;
  // .card-product_img
  &_img {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 284px;
    justify-content: center;
    align-content: center;
  }

  // .card-product_score
  &_score {
    position: absolute;
    right: 5px;
    top: 10px;
    display: flex;
  }
  &_button{
    max-width: 113px  ;
    max-height: 26px;
    padding: 6px 21px;
  }
  // .card-product_content
  &_content {
    padding: 21px 23px;
  }

  // .card-product_header
  &_header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 47px;
  }

  // .card-product_apt
  &_act {
  }

  // .card-product_head
  &_head {
    font-weight: 500!important;
  }

  // .card-product_body
  &_body {
  }

  // .card-product_price
  &_price {
    display: flex;
    margin: 25px 0px;
  }

  // .card-product_cost
  &_cost {
  }

  // .card-product_currency
  &_currency {
    font-size: 8px;
    margin-top: 1px;
  }

  // .card-product_fooder
  &_fooder {
    display: flex;
    justify-content: space-around;
  }
}


