.card-info {
  max-width: 390px;
  background: #FFFFFF;
  border-radius: 15px;
  border: 0.2px solid #EFF5FE;
  padding: 3% 2%;
  h3{
    height: 38px;
  }
  p{
    white-space: normal;
  }
  &:hover{

    box-shadow: 0px 20px 50px rgba(73, 122, 226, 0.2), inset 0px 0px 3px rgba(50, 87, 164, 0.25);
  }
  // .card-info_img
  &_img {
    max-width: 342px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 118px;
  }

  // .card-info_header
  &_header {
    position: relative;
    margin-top: 22px;
  }

  // .card-info_score
  &_score {
  }

  // .card-info_linkInFull
  &_linkInFull {
  }

  // .card-info_author
  &_author {
  }
  // .card-info_data
  &_data {
  }
  // .card-info_body
  &_body {
    margin: 14px auto;
  }

  // .card-info_fooder
  &_fooder {
    display: flex;
    justify-content: space-between;
  }
}

