

.Article {
  background: #FFFFFF;
  border: 0.2px solid #FFFFFF;
  box-shadow: inset 0px 0px 3px rgba(50, 87, 164, 0.25);
  border-radius: 15px;
  padding:  75px 5%;
  margin-top: 5%;
  // .Article_head
  &_head {
  }

  // .Article_body
  &_body {
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  // .Article_item
  &_item {
  }

  // .Article_auther
  &_auther {
  }
  // .Article_footer
  &_footer {
    display: flex;
    justify-content: end;
    gap: 20px;
  }
}

.sample {
  // .sample_conteiner
  &_conteiner {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(305px,auto));
    column-gap: 8%;
    row-gap: 1%;
  }
 &_text{
   white-space: normal;
   margin: 5px auto;
 }
  // .sample_left
  &_left {
  }

  // .sample_head
  &_head {
    margin-top: calc(1% + 17px);
  }

  // .sample_right
  &_right {
    display: flex;
    align-items: center;
  }
}



.red-text {
}