.sections {
  padding: 5% 0px;
  &_head{

  }
  &_header{
    text-align: center;
  }
  &_body{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 12px;
    margin: 4% 0px;
  }
  &_footer{
    text-align: end;
  }
  // .sections__full
  &__full {
    max-width: 1170px;
    margin: auto !important;
    padding: 5% 0% 1% 0%;
    background: #FFFFFF !important;
    border-radius: 45px;
  }
}

